/* Geral  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: #000;
    color: white;
    overflow-x: hidden;
}
header{
    padding: 25px;
    display: flex;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.69) 0%,
        rgba(0,0,0,0) 100%,
    );
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}
header .col-8{
    margin-top: 25px;
}

.menu-list{
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
}

.menu-list li{
    display: inline-block;
    margin-left: 15px;
}
li a{
    color: white;
}

#hero{
    height: 700px;
    background: url('https://i.ibb.co/hCT3mQ7/capa-peaky-blinders.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
}

#hero_info{
    padding: 0;
    margin-top: 170px;
    margin-left: 15px;
    z-index: 3;
    position: relative;
}

#hero_info .logo{
    margin-bottom: 50px;
    width: 500px;
}

#hero_info h1{
    margin-bottom: 20px;
}
#hero_info h1 img{
    width: 35px;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 15px;
}


.btn-custom-white{
    background-color: white;
}

.btn-custom-white img{
    margin-top: -5px;
}
.btn-custom-translicent{
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
}

.btn-custom-translicent:hover{
    color: white;
    opacity: 0.8;
}
.btn-custom-white:hover{
    opacity: 0.8;
}